<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

  <!-- Geschwiserelemente
  header+main+footer -->
  <header></header>
  <main>
    <!-- Parent-Child-Beziehungen
    div>p>a
    -->
    <div>
      <p><a href=""></a></p>
    </div>

    <!-- Multiplikatoren a*5 -->

    <!-- Verschachtelung
    table>(thead>tr>th*5)+(tbody>tr*10>td*5)
    -->

  </main>
  <footer></footer>
</body>
</html>