<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
    <!--
    <link rel="stylesheet" href="/bootstrap-5.3.8/css/bootstrap.min.css">
    -->
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}">
    <!--
    <link rel="stylesheet" href="/css/styles.css">
    -->
</head>
<body>
    <h1 th:text="${title}" class="display-1"></h1>

    <p th:text="${content}"></p>

    <div th:if="${isAdmin}">
        <h2>Inhalte für den Admin</h2>
    </div>

    <ul>
        <li th:each="n : ${namensListe}" th:text="${n}"></li>
    </ul>

    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Beschreibung</th>
                <th>Bild</th>
                <th>Anzahl</th>
                <th>Preis</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="p : ${productList}">
                <td th:text="${p.name}"></td>
                <td th:text="${p.description}"></td>
                <td th:text="${p.image}"></td>
                <td th:text="${p.quantity}"></td>
                <td th:text="${p.price}"></td>
            </tr>
        </tbody>
    </table>

    <script th:src="@{/webjars/bootstrap/5.3.8/js/bootstrap.bundle.min.js}"></script>
</body>
</html>